/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      VARIABLES & MIXINS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      THEME
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Heebo);
* {
  box-sizing: border-box; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      GLOBAL CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
body {
  font-family: "Heebo", sans-serif;
  font-size: 0.9em;
  color: #000;
  background: url("../imgs/chain_link_fence_v3.jpg") repeat fixed center;
  background-color: #60180a; }
  @media screen and (max-width: 680px) {
    body {
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 0px; } }

h1, h2, h3, h4, h5, h6, .collapsible-header {
  font-family: "Londrina Solid", cursive; }

.container {
  width: 95%; }

.row {
  margin-bottom: 0; }

.small-only {
  display: none; }
  @media screen and (max-width: 680px) {
    .small-only {
      display: inline-block; } }

@media screen and (max-width: 680px) {
  .tablet-only {
    display: none; } }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      DOG TAG "TABS"
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.tags {
  background: transparent;
  display: inline-block;
  position: relative;
  width: 180px !important;
  padding-top: 285px;
  float: none;
  margin-right: 50px;
  overflow: visible; }
  @media screen and (max-width: 992px) {
    .tags {
      padding-top: 75%;
      margin-right: 0;
      left: 30px; } }
  @media screen and (max-width: 768px) {
    .tags {
      padding: 80px 0;
      left: 50px; } }
  .tags .black-bg {
    background: #000;
    position: absolute;
    height: 150px;
    width: 280px;
    top: 150px;
    right: 95px;
    border-radius: 20px;
    transform: rotate(-5deg); }
    .tags .black-bg .nav-links {
      text-align: left;
      padding: 25px 20px 30px 25px;
      transform: rotate(5deg); }
      .tags .black-bg .nav-links a {
        font-family: "Londrina Solid", cursive;
        color: #bfbfbf;
        font-size: 1.3em;
        display: block;
        letter-spacing: 3px;
        padding: 5px 0;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease; }
        .tags .black-bg .nav-links a span {
          margin-right: 6px; }
        .tags .black-bg .nav-links a:hover {
          color: #fffa1c; }
        @media screen and (max-width: 768px) {
          .tags .black-bg .nav-links a {
            width: 33.3%;
            font-size: 1em;
            padding: 10px 0;
            float: left;
            margin-left: -1px;
            text-align: center;
            border-left: 1px solid rgba(255, 255, 255, 0.25); } }
        @media screen and (max-width: 460px) {
          .tags .black-bg .nav-links a {
            font-size: .95em;
            letter-spacing: 1px; }
            .tags .black-bg .nav-links a span {
              margin-right: 3px; } }
    @media screen and (max-width: 992px) {
      .tags .black-bg {
        top: 20px;
        right: 0; } }
    @media screen and (max-width: 768px) {
      .tags .black-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 37px;
        transform: none;
        border-radius: 0;
        z-index: 999999; }
        .tags .black-bg .nav-links {
          transform: none;
          padding: 0; }
          .tags .black-bg .nav-links a {
            display: inline-block; } }
  .tags .tags-mark {
    position: absolute;
    max-width: 200px;
    right: 138.8%;
    top: 260px;
    z-index: -1; }
    @media screen and (max-width: 992px) {
      .tags .tags-mark {
        top: 150px;
        max-width: 150px;
        right: 100%; } }
    @media screen and (max-width: 768px) {
      .tags .tags-mark {
        top: 15%;
        right: 90%; } }
    @media screen and (max-width: 680px) {
      .tags .tags-mark {
        max-width: 125px;
        top: 12%;
        right: 85%; } }
    @media screen and (max-width: 460px) {
      .tags .tags-mark {
        right: 102%; } }
  .tags .ballchain {
    background: url("../imgs/ballchain_char.png") no-repeat;
    position: absolute;
    height: 100vh;
    width: 500px;
    top: 0;
    left: -350px;
    z-index: -1; }
    @media screen and (max-width: 768px) {
      .tags .ballchain {
        top: -80px; } }
    @media screen and (max-width: 460px) {
      .tags .ballchain {
        top: -90px;
        left: -355px;
        height: 120vh; } }
  .tags .tag-wrapper {
    position: relative; }
    .tags .tag-wrapper .tag {
      font-family: "Londrina Solid", cursive;
      background: #fffa1c;
      color: #000;
      font-size: 1.4em;
      text-align: center;
      display: block;
      width: 100%;
      height: auto;
      border-radius: 30px;
      padding: 30px 10px;
      overflow: visible;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease; }
      .tags .tag-wrapper .tag .fa {
        color: #60180a;
        font-size: 0.8em;
        position: relative;
        right: 15px; }
      @media screen and (max-width: 992px) {
        .tags .tag-wrapper .tag {
          font-size: 1.2em;
          padding: 20px 0;
          border-radius: 15px;
          width: 70%; }
          .tags .tag-wrapper .tag .fa {
            right: 7px; } }
    .tags .tag-wrapper.inactive .tag {
      background: #280a04;
      color: #ce6a3e; }
      .tags .tag-wrapper.inactive .tag:hover {
        background: #fff;
        color: #000; }
        .tags .tag-wrapper.inactive .tag:hover .fa {
          color: #ad532c; }
      .tags .tag-wrapper.inactive .tag .fa {
        color: #ad532c; }
    .tags .tag-wrapper.active {
      z-index: 99; }
      .tags .tag-wrapper.active .tag {
        background: #fffa1c;
        color: #000;
        position: relative;
        z-index: 2;
        box-shadow: 5px 3px 0 #000; }
        .tags .tag-wrapper.active .tag:hover {
          background: #fffa1c; }
    .tags .tag-wrapper:hover {
      z-index: 999; }
      .tags .tag-wrapper:hover .tag {
        background: #fff;
        color: #000;
        position: relative;
        z-index: 2;
        box-shadow: 5px 3px 0 #000; }
  .tags .a-e {
    right: 10px; }
    @media screen and (max-width: 992px) {
      .tags .a-e {
        right: -10px; } }
  .tags .f-j {
    right: 40px;
    top: -10px; }
    .tags .f-j .tag {
      transform: rotate(7deg); }
    @media screen and (max-width: 992px) {
      .tags .f-j {
        right: 0px;
        top: 0; } }
  .tags .k-o {
    right: 70px;
    top: -10px; }
    .tags .k-o .tag {
      transform: rotate(20deg); }
    @media screen and (max-width: 992px) {
      .tags .k-o {
        right: 10px;
        top: 8px; } }
  .tags .p-t {
    right: 115px;
    top: -20px; }
    .tags .p-t .tag {
      transform: rotate(28deg); }
    @media screen and (max-width: 992px) {
      .tags .p-t {
        right: 35px;
        top: 10px; } }
  .tags .u-z {
    right: 185px;
    top: -25px; }
    .tags .u-z .tag {
      transform: rotate(45deg); }
    @media screen and (max-width: 992px) {
      .tags .u-z {
        right: 85px;
        top: 25px; } }
    @media screen and (max-width: 768px) {
      .tags .u-z {
        right: 70px;
        top: 35px; } }
  .tags .indicator {
    height: 0px; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      ACTUAL TAGS DISPLAY
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.tags-content {
  padding-top: 15%; }
  .tags-content .tag-content {
    background: #fffa1c;
    font-size: 1.3em;
    text-align: center;
    display: none;
    height: 75vh;
    padding: 15px 15px 25px 10px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    animation-duration: 0.3s;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; }
    @media screen and (max-width: 768px) {
      .tags-content .tag-content {
        overflow-y: auto;
        height: auto;
        padding: 15px 5px; } }
    .tags-content .tag-content.active {
      display: block; }
    .tags-content .tag-content .content-wrapper {
      position: relative; }
      .tags-content .tag-content .content-wrapper .jelly {
        position: absolute;
        display: none;
        width: 95%;
        top: -2px;
        bottom: -10px;
        left: 10px; }
        @media screen and (max-width: 992px) {
          .tags-content .tag-content .content-wrapper .jelly {
            top: 0; } }
      .tags-content .tag-content .content-wrapper:hover .jelly {
        display: block; }
    .tags-content .tag-content a {
      position: relative;
      display: block;
      color: #000;
      padding: 1px 10px;
      margin: 10px auto;
      overflow: hidden; }
      .tags-content .tag-content a .tags-hover {
        position: absolute;
        width: 95%;
        top: 0;
        display: none; }
      .tags-content .tag-content a .flex-content {
        display: flex;
        justify-content: space-between; }
      .tags-content .tag-content a .tag-text {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 20px; }
        .tags-content .tag-content a .tag-text .fa {
          background: #000;
          color: #ff0000;
          padding: 5px 5px 2px 15px;
          margin-right: 5px;
          border-radius: 3px; }
          @media screen and (max-width: 680px) {
            .tags-content .tag-content a .tag-text .fa {
              padding: 5px;
              font-size: .8em; } }
        @media screen and (max-width: 460px) {
          .tags-content .tag-content a .tag-text {
            font-size: 12px;
            width: 75%;
            text-align: left;
            margin-right: 10px; } }
      .tags-content .tag-content a .tag-price {
        font-weight: 700;
        position: relative; }
        .tags-content .tag-content a .tag-price .fa {
          font-size: 0.8em; }
        .tags-content .tag-content a .tag-price .quantity {
          background: #ded900;
          padding: 0 20px 0 10px;
          margin-left: 5px; }
          @media screen and (max-width: 680px) {
            .tags-content .tag-content a .tag-price .quantity {
              padding: 0 10px 0 5px; } }
        @media screen and (max-width: 460px) {
          .tags-content .tag-content a .tag-price {
            font-size: 10px;
            width: 80px;
            text-align: right; } }
      .tags-content .tag-content a:hover {
        background: #bfbfbf; }
      .tags-content .tag-content a:hover .tags-hover {
        display: block; }
    .tags-content .tag-content::-webkit-scrollbar {
      background: #fff;
      width: 7px;
      border-radius: 10px; }
    .tags-content .tag-content::-webkit-scrollbar-thumb {
      background: #ad532c;
      width: 2px;
      border: 2px solid #fff;
      border-radius: 10px; }

.money {
  font-family: "Londrina Solid", cursive;
  background: #000;
  position: absolute;
  bottom: 15px;
  right: 10px;
  height: 130px;
  width: 230px;
  padding: 10px;
  border-radius: 20px;
  transform: rotate(5deg);
  z-index: 2;
  cursor: pointer; }
  @media screen and (max-width: 992px) {
    .money {
      bottom: 10px;
      right: 7px;
      height: 120px;
      width: 230px; } }
  @media screen and (max-width: 768px) {
    .money {
      position: relative;
      margin: 35px -5px 12px auto; } }
  @media screen and (max-width: 460px) {
    .money {
      transform: scale(0.5) rotate(5deg);
      right: -50px;
      bottom: -21px;
      margin: 0;
      position: fixed; } }
  .money .money-title {
    color: #fffa1c;
    font-size: 1.6em;
    border-bottom: 2px solid #fff; }
    @media screen and (max-width: 992px) {
      .money .money-title {
        font-size: 1.4em; } }
  .money .money-amount {
    color: #fff;
    font-size: 2.6em;
    letter-spacing: 5px;
    border-bottom: 7px double #fff;
    padding: 0 10px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 992px) {
      .money .money-amount {
        font-size: 2.4em; } }
    .money .money-amount .fa {
      padding-top: 8px; }

.jelly {
  -webkit-animation-name: jelly;
  animation-name: jelly;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }

@keyframes jelly {
  from {
    transform-style: preserve-3d;
    transform: skewX(40deg) rotateX(60deg) rotateY(10deg) rotateZ(-10deg) perspective(150px); }
  50% {
    transform: skewX(-45deg); }
  to {
    transform: skewX(40deg) rotateX(-60deg) rotateY(-10deg) rotateZ(-10deg) perspective(150px); } }
