/* Color Scheme: https://coolors.co/f1f7ed-f4a33b-e24e1b-453c3b-d8be86 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      VARIABLES & MIXINS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      THEME
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      GLOBAL CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);
body {
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  color: #fff;
  background-color: #770a10; }

h1, h2, h3, h4, h5, h6, .collapsible-header {
  font-family: "Montserrat", sans-serif; }

.container {
  margin-top: 30px; }

a {
  color: #d90c13;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }
  a:hover {
    color: #fff89d; }

.modal {
  width: 45%;
  z-index: 999999 !important; }
  .modal .modal-footer > a {
    font-family: "Montserrat", sans-serif; }
    .modal .modal-footer > a:hover {
      color: #fff;
      background: #000; }

* {
  box-sizing: border-box; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      HEADER / BANNER
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.parallax-container {
  height: 100vh; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      NAVIGATION
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.nav-wrapper {
  background: #d90c13;
  z-index: 9999; }
  .nav-wrapper.pinned {
    width: 100%;
    height: 64px; }
  .nav-wrapper .container {
    margin: 0 auto; }
  .nav-wrapper .flex-nav {
    display: flex;
    flex-direction: row; }
    .nav-wrapper .flex-nav a.btn {
      padding: 0 20px;
      flex-grow: 1;
      margin: 14px 3px; }
      .nav-wrapper .flex-nav a.btn:hover {
        color: #fff; }

.btn {
  background: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif; }
  .btn:hover {
    background: #b20a10;
    box-shadow: 2px 2px 0 0 #19fffd, -2px -2px 0 0 black; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      PAGINATION
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.pagination {
  background: #d90c13;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  border-top: 3px solid #000;
  position: fixed;
  bottom: -40px;
  z-index: 99;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }
  .pagination > li {
    height: 20px; }
    .pagination > li.active {
      background: #000; }
      .pagination > li.active > a {
        color: #fff; }
    .pagination > li > a {
      color: #fff;
      font-size: 1em;
      padding: 0 8px;
      line-height: 20px; }

.stickyPagination {
  bottom: 0; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      SIDEBAR
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
form input[type="search"] {
  height: 36px !important;
  /* or height of nav */
  position: relative;
  top: 20px;
  border-radius: 2px; }
  form input[type="search"]:focus + label {
    color: #fff !important; }
form .input-field {
  margin-top: 0; }
  form .input-field input[type="search"] {
    padding-left: 1rem;
    width: calc(100% - 1rem);
    margin-bottom: 2.5rem;
    background: #1a1a1a;
    border: 0; }
  form .input-field label {
    top: 28px;
    color: #fff; }

.card {
  border-radius: 0;
  border: 3px solid #fff; }
  .card .card-content {
    background: #000;
    color: #fff;
    padding: 2px;
    border-radius: 0; }
  .card .card-action {
    background: #000;
    color: #fff;
    border-top: 1px solid #fff89d; }

.collapsible .collapsible-header {
  background: #000;
  color: #fff;
  border-color: #fff89d; }
  .collapsible .collapsible-header h6 {
    display: inline-block; }
.collapsible .collapsible-body p {
  background: #000;
  color: #fff;
  padding: 20px; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      MAIN CONTENT
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media only screen and (min-width: 993px) {
  .container {
    width: 95%; } }
@media only screen and (min-width: 601px) {
  .container {
    width: 90%; } }

.btn-floating {
  background: #d90c13;
  margin-right: 10px; }
  .btn-floating:hover {
    background: #f21b23;
    color: #fff; }

.content-wrapper {
  background: #000;
  color: #000;
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0 auto 15px auto;
  border-radius: 0; }
  .content-wrapper .content-meta {
    width: 100%;
    max-width: 580px;
    text-align: left;
    margin: 0 auto 5px auto;
    border-bottom: 1px solid #000;
    padding: 20px 0; }
    .content-wrapper .content-meta .meta-text {
      font-family: "Montserrat", sans-serif;
      margin-right: 15px; }
  .content-wrapper .content-bg {
    background: #fff; }

.content-post {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 20px; }
  @media screen and (max-width: 1024px) {
    .content-post {
      padding: 13px; } }
  .content-post .post-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    margin-bottom: 15px; }
  .content-post .photoset {
    margin-bottom: 15px; }
  .content-post .chat-post {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc; }
  .content-post .quote-post {
    font-size: 1.5em;
    text-align: center;
    margin-top: 15px; }
  .content-post .ask-avvie {
    border-radius: 50%; }
  .content-post .ask-content {
    background: rgba(217, 12, 19, 0.05);
    border: 1px dashed #d90c13;
    border-radius: 5px;
    padding: 15px; }
    .content-post .ask-content span {
      font-family: "Montserrat", sans-serif;
      font-size: 1.1em; }
  .content-post .ask-answer {
    margin-top: 15px; }
  .content-post blockquote {
    margin-bottom: 0;
    border-left: 5px solid #d90c13; }

.content-like-reblog {
  position: absolute;
  right: -60px; }
  .content-like-reblog .btn-reblog, .content-like-reblog .btn-like {
    display: block;
    margin-bottom: 10px; }
  .content-like-reblog .btn-like {
    background: #f44336; }
  .content-like-reblog .btn-reblog {
    background: #00bcd4; }

.content-tags {
  width: 100%;
  max-width: 650px;
  margin: 0 auto 60px auto;
  background: rgba(217, 12, 19, 0.25);
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  position: relative; }
  .content-tags::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 8px solid rgba(217, 12, 19, 0.25);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    top: -8px;
    left: 60px; }
  .content-tags .source-via {
    font-family: "Montserrat", sans-serif;
    color: #d90c13;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff; }
    .content-tags .source-via .fa-times {
      color: #fff; }
    .content-tags .source-via > a {
      color: #d90c13; }
      .content-tags .source-via > a:hover {
        color: #d90c13; }
  .content-tags .tag {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    background: #fff;
    color: #fff;
    font-size: 0.8em;
    padding: 5px 0 3px 20px;
    margin: 0 10px;
    position: relative; }
    .content-tags .tag:hover {
      -webkit-box-shadow: 0px 4px 6px #f43d43;
      -moz-box-shadow: 0px 4px 6px #f43d43;
      box-shadow: 0px 4px 6px #f43d43;
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px);
      transform: translateY(-2px); }
    .content-tags .tag::after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #fff;
      top: 0;
      right: -12px; }
    .content-tags .tag::before {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba(217, 12, 19, 0.25);
      top: 8px;
      left: 6px; }

/*# sourceMappingURL=global.css.map */
