/* Color Scheme: https://coolors.co/f1f7ed-f4a33b-e24e1b-453c3b-d8be86 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      VARIABLES & MIXINS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      THEME
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      GLOBAL CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);
body {
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  color: #453C3B;
  background: url(../imgs/white_wall_hash.png); }

h1, h2, h3, h4, h5, h6, .collapsible-header {
  font-family: "Montserrat", sans-serif; }

.container {
  margin-top: 30px; }

a {
  color: #E24E1B;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }
  a:hover {
    color: #F4A33B; }

.modal {
  width: 45%;
  z-index: 999999 !important; }
  .modal .modal-footer > a {
    font-family: "Montserrat", sans-serif; }
    .modal .modal-footer > a:hover {
      color: #453C3B;
      background: #D8BE86; }

* {
  box-sizing: border-box; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      HEADER / BANNER
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.header-img {
  background-image: url("../imgs/ori-and-the-blind-forest.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  position: relative;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: -999; }

.parallax-container {
  height: 100vh; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      NAVIGATION
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.nav-wrapper {
  background: #453C3B;
  z-index: 9999; }
  .nav-wrapper.pinned {
    width: 100%;
    height: 64px; }
  .nav-wrapper .container {
    margin: 0 auto; }
  .nav-wrapper .flex-nav {
    display: flex;
    flex-direction: row; }
    .nav-wrapper .flex-nav a.btn {
      padding: 0 20px;
      flex-grow: 1;
      margin: 14px 3px; }
      .nav-wrapper .flex-nav a.btn:hover {
        color: #453C3B; }

.btn {
  background: #D8BE86;
  color: #453C3B;
  font-family: "Montserrat", sans-serif; }
  .btn:hover {
    background: #dec899; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      PAGINATION
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.pagination {
  background: #453C3B;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  border-top: 3px solid #F4A33B;
  position: fixed;
  bottom: -40px;
  z-index: 99;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }
  .pagination > li {
    height: 20px; }
    .pagination > li.active {
      background: #D8BE86; }
      .pagination > li.active > a {
        color: #453C3B; }
    .pagination > li > a {
      color: #D8BE86;
      font-size: 1em;
      padding: 0 8px;
      line-height: 20px; }

.stickyPagination {
  bottom: 0; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      SIDEBAR
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
form input[type="search"] {
  height: 36px !important;
  /* or height of nav */
  position: relative;
  top: 20px;
  border-radius: 2px; }
  form input[type="search"]:focus + label {
    color: #453C3B !important; }
form .input-field {
  margin-top: 0; }
  form .input-field input[type="search"] {
    padding-left: 1rem;
    width: calc(100% - 1rem);
    margin-bottom: 2.5rem;
    background: #e4d3ad;
    border: 0; }
  form .input-field label {
    top: 28px;
    color: #453C3B; }

.card .card-content {
  background: #D8BE86;
  color: #453C3B;
  padding: 2px;
  border-radius: 0; }

.collapsible .collapsible-header {
  background: #D8BE86;
  color: #453C3B;
  border-color: #F1F7ED; }
  .collapsible .collapsible-header h6 {
    display: inline-block; }
.collapsible .collapsible-body p {
  padding: 20px; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      MAIN CONTENT
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.btn-floating {
  background: #F4A33B;
  margin-right: 10px; }
  .btn-floating:hover {
    background: #f6b562;
    color: #fff; }

.content-wrapper {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0 auto 15px auto; }
  .content-wrapper .content-meta {
    width: 100%;
    max-width: 580px;
    text-align: left;
    margin: 10px auto 5px auto;
    border-bottom: 1px solid #F4A33B;
    padding-bottom: 20px; }
    .content-wrapper .content-meta .meta-text {
      font-family: "Montserrat", sans-serif;
      margin-right: 15px; }

.content-post {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 20px; }
  .content-post .post-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 15px; }
  .content-post .photoset {
    margin-bottom: 15px; }
  .content-post .chat-post {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc; }
  .content-post .quote-post {
    font-size: 1.5em;
    text-align: center;
    margin-top: 15px; }
  .content-post .ask-content {
    background: #eee;
    padding: 10px; }
    .content-post .ask-content span {
      font-weight: 600; }
  .content-post .ask-answer {
    margin-top: 15px; }
  .content-post blockquote {
    margin-bottom: 0;
    border-left: 5px solid #E24E1B; }

.content-like-reblog {
  position: absolute;
  right: -60px; }
  .content-like-reblog .btn-reblog, .content-like-reblog .btn-like {
    display: block;
    margin-bottom: 10px; }
  .content-like-reblog .btn-like {
    background: #f44336; }
  .content-like-reblog .btn-reblog {
    background: #00bcd4; }

.content-tags {
  width: 100%;
  max-width: 650px;
  margin: 0 auto 60px auto;
  background: rgba(244, 163, 59, 0.25);
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  position: relative; }
  .content-tags::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 8px solid rgba(244, 163, 59, 0.25);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    top: -8px;
    left: 60px; }
  .content-tags .source-via {
    font-family: "Montserrat", sans-serif;
    color: #E24E1B;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff; }
    .content-tags .source-via .fa-times {
      color: #453C3B; }
    .content-tags .source-via > a {
      color: #F4A33B; }
      .content-tags .source-via > a:hover {
        color: #E24E1B; }
  .content-tags .tag {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    background: #F1F7ED;
    color: #453C3B;
    font-size: 0.8em;
    padding: 5px 0 3px 20px;
    margin: 0 10px;
    position: relative; }
    .content-tags .tag::after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #F1F7ED;
      top: 0;
      right: -12px; }
    .content-tags .tag::before {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba(244, 163, 59, 0.25);
      top: 8px;
      left: 6px; }

/*# sourceMappingURL=global.css.map */
