/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      VARIABLES & MIXINS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      THEME
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Heebo);
* {
  box-sizing: border-box; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      GLOBAL CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
body {
  font-family: "Heebo", sans-serif;
  font-size: 0.9em;
  color: #000;
  background: #084b06 url("../imgs/chain_link_fence.png") repeat fixed; }

h1, h2, h3, h4, h5, h6, .collapsible-header {
  font-family: "Londrina Solid", cursive; }

.container {
  width: 90%; }

.row {
  margin-bottom: 0; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      DOG TAG "TABS"
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.tabs {
  background: transparent;
  display: inline-block;
  width: 200px !important;
  margin-top: 50%;
  margin-right: 50px;
  overflow: visible; }
  .tabs .tab {
    background: #6cff0d;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30px;
    overflow: visible;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; }
    .tabs .tab:hover {
      background: #fff; }
    .tabs .tab a {
      font-family: "Londrina Solid", cursive;
      font-size: 1.4em;
      color: #000;
      padding: 20px 10px; }
      .tabs .tab a:hover {
        color: #000; }
  .tabs .games {
    position: relative;
    right: 30px;
    top: -10px;
    transform: rotate(7deg); }
  .tabs .movies {
    position: relative;
    right: 70px;
    top: -15px;
    transform: rotate(16deg); }
  .tabs .misc {
    position: relative;
    right: 125px;
    top: -20px;
    transform: rotate(28deg); }
  .tabs .random {
    position: relative;
    right: 200px;
    top: -25px;
    transform: rotate(45deg); }
  .tabs .active {
    background: #fff;
    position: relative;
    border-radius: 30px;
    box-shadow: 3px 4px 0 #000; }
  .tabs .indicator {
    height: 0px; }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      ACTUAL TAGS DISPLAY
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.tags-content .col {
  font-size: 1.3em;
  font-weight: 700;
  background: #6cff0d;
  padding: 30px;
  height: 80vh;
  overflow-y: scroll; }
  .tags-content .col a {
    display: block;
    color: #000;
    padding: 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; }
    .tags-content .col a:hover {
      background: #ddd; }
  .tags-content .col::-webkit-scrollbar {
    background: #fff;
    width: 8px; }
  .tags-content .col::-webkit-scrollbar-thumb {
    background: #000;
    width: 5px; }

/*# sourceMappingURL=tags.css.map */
