/* Color Scheme: https://coolors.co/f1f7ed-f4a33b-e24e1b-453c3b-d8be86 */

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      VARIABLES & MIXINS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
$white: #F1F7ED;
$lightorange: #F4A33B;
$darkorange: #E24E1B;
$darkbrown: #453C3B;
$lightbrown: #D8BE86;

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      THEME
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
$primary: $lightorange;
$secondary: $lightbrown;
$text: $darkbrown;
$link: $darkorange;
$nav: $darkbrown;

@mixin trans($ease) {
  transition:         $ease;
  -webkit-transition: $ease;
  -moz-transition:    $ease;
}

$easyease: all 0.3s ease;

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      GLOBAL CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url(https://fonts.googleapis.com/css?family=Bitter|Raleway);

body {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  color: $text;
}

h1, h2, h3, h4, h5, h6, .collapsible-header {
  font-family: 'Bitter', serif;
}

.container {
  margin-top: 30px;
}

a {
  color: $link;
  @include trans($easyease);
  &:hover {
    color: $lightorange;
  }
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      HEADER / BANNER
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.header-img {
  background-image: url("../imgs/ori-and-the-blind-forest.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  position: relative;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: -999;
}

.parallax-container {
  height: 100vh;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      NAVIGATION
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.nav-wrapper {
  background: $nav;
  z-index: 9999;
  &.pinned {
    width: 100%;
    height: 64px;
  }
  .container {
    margin: 0 auto;
  }
  .flex-nav {
    display: flex;
    flex-direction: row;
    a.btn {
      padding: 0 20px;
      flex-grow: 1;
      margin: 14px 3px;
      &:hover {
        color: $darkbrown;
      }
    }
  }
  form {
    input[type="search"] {
      height: 36px !important; /* or height of nav */
      position: relative;
      top: 14px;
      border-radius: 2px;
      padding-left: 40px;
      &:focus + label {
        color: $primary !important;
      }
    }
  }
}

.btn {
  background: $secondary;
  color: $text;
  font-family: 'Bitter', serif;
  &:hover {
    background: lighten($secondary, 5%);
  }
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      SIDEBAR
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.card {
  .card-content {
    background: $secondary;
    color: $text;
    padding: 2px;
    border-radius: 0;
  }
}

.collapsible {
  .collapsible-header {
    background: $secondary;
    color: $text;
    h6 {
      display: inline-block;
    }
  }
  .collapsible-body {
    p {
      padding: 20px;
    }
  }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      MAIN CONTENT
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.btn-floating {
  background: $primary;
  margin-right: 10px;
  &:hover {
    background: lighten($primary, 8%);
    color: #fff;
  }
}

.content-meta {
  width: 100%;
  max-width: 580px;
  text-align: left;
  margin: 0 auto 15px auto;
  .post-divider {
    border-top: 2px dashed #ccc;
    margin-bottom: 35px;
  }
  .meta-text {
    margin-right: 15px;
  }
}

.content-post {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  blockquote {
    margin-bottom: 0;
    border-left: 5px solid $darkorange;
  }
}

.content-tags {
  width: 100%;
  max-width: 580px;
  margin: 20px auto 40px auto;
  background: transparentize($primary,.25);
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 8px solid transparentize($primary,.25);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    top: -8px;
    left: 60px;
  }
  .source-via {
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $white;
  }
  .tag {
    display: inline-block;
    background: $white;
    color: $darkbrown;
    font-size: 0.8em;
    padding: 5px 0 3px 20px;
    margin: 0 10px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0; 
      height: 0; 
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid $white;
      top: 0;
      right: -12px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: transparentize($primary,.25);
      top: 8px;
      left: 6px;
    }
  }
}