/* Color Scheme: https://coolors.co/f1f7ed-f4a33b-e24e1b-453c3b-d8be86 */

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      VARIABLES & MIXINS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
// $white: #F1F7ED;
// $lightorange: #F4A33B;
// $darkorange: #E24E1B;
// $darkbrown: #453C3B;
// $lightbrown: #D8BE86;

$headings: 'Londrina Solid', cursive;
$body: 'Heebo', sans-serif;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      THEME
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
// $primary: $lightorange;
// $secondary: $lightbrown;
// $text: $darkbrown;
// $link: $darkorange;
// $nav: $darkbrown;

$primary: #ff0000;
$secondary: #000;
$text: #fff;
$link: #ff0000;
$nav: #ff0000;
$accent1: #00FFFF; // bright blue
$accent2: #ebffdf; // light yellow-green
$accent3: #084b06; // dark green
$accent3v1: #6cff0d; // bright green
$accent4: #fe6cec; // fuschia

@mixin trans($ease) {
  transition:         $ease;
  -webkit-transition: $ease;
  -moz-transition:    $ease;
}

$easyease: all 0.3s ease;

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      GLOBAL CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Heebo);

body {
  font-family: $body;
  font-size: 0.9em;
  color: $text;
  background: url('../imgs/star_bg.jpg') repeat fixed;
  //background-color: #770a10;
}

h1, h2, h3, h4, h5, h6, .collapsible-header {
  font-family: $headings;
}

.container {
  margin-top: 30px;
}

a {
  color: $link;
  @include trans($easyease);
  &:hover {
    color: $secondary;
  }
}

.modal {
  width: 100%;
  max-width: 850px;
  z-index: 999999 !important;
  background: transparent;
  border-radius: 10px;
  box-shadow: none;
  max-height: 100%;
  overflow-y: visible;
  animation-duration: 0.2s;
  // get rid of material design animation
  //transform: scaleX(1) !important;
  //opacity: 1 !important;
  top: 10% !important;
  .modal-header {
    position: relative;
    width: 100%;
    height: 100px;
    background: transparent;
    .dagger { // NOT DAGGER FROM FF9, GEEZ
      position: absolute;
      width: 240px;
      top: -105px;
      right: 45px;
      z-index: 1;
      animation-duration: 0.25s;
    }
    .cover-up {
      position: absolute;
      width: 0;
      height: 35px;
      border-top: 20px solid transparent;
      border-left: 50px solid #fff;
      right: 30%;
      top: 108%;
      z-index: 999;
    }
    .modal-negotation {
      position: relative;
      left: -10px;
      width: 400px;
      transform: rotate(5deg);
    }
    .modal-stats {
      position: relative;
      width: 230px;
      transform: rotate(5deg);
    }
    .modal-palaces {
      position: relative;
      width: 310px;
      transform: rotate(5deg);
    }
    .modal-system {
      position: relative;
      top: -20px;
      width: 300px;
      transform: rotate(5deg);
    }
    >h4 {
      position: absolute;
      bottom: -50px;
      width: 60%;
      color: #333434;
      font-size: 2.5vmin;
      text-align: center;
      left: 20%;
      background-image: url('../imgs/modal_header_white.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      padding: .9em 0 .5em 0;
      right: 0;
      margin: 0;
    }
  }
  .modal-content {
    //overflow: hidden;
    .modal-text{
      position: relative;
      padding: 8% 0 10% 0;
         &::before {
          content: "";
          position: absolute;
          width: 103%;
          height: 115%;
          top: -123px;
          left: -23px;
          background-image: url('../imgs/modal_top.svg');
          background-repeat: no-repeat;
          background-size: cover;
          z-index: -1;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 10px;
          transform: rotate(-2deg);
          left: 19px;
          background-image: url('../imgs/modal_bottom.svg');
          background-repeat: no-repeat;
          background-size: cover;
          z-index: -1;
        }
      .modal-text-content {
        color: $text;
        position: relative;
        min-height: 150px;
        max-height: 340px;
        width: 80%;
        left: -1px;
        margin: 0 auto;
        padding: 0 20px;
        overflow-y: auto;
        >p>a {
          color: $primary;
          &:hover {
            color: $text;
          }
        }
        .egg {
          text-indent: 10px;
          margin: 0;
          .bacon {
            text-indent: 10px;
            margin: 0;
          }
        }
        &::-webkit-scrollbar {
          background: $secondary;
          width: 5px;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: $primary;
          width: 3px;
          border-radius: 10px;
        }
      }
    }
    .modal-footer {
      background: transparent;
      position: relative;
      width: 100%;
      top: -100px;
      .close-button {
        position: absolute;
        width: 100%;
        max-width: 150px;
        right: -100px;
        bottom: 0;
        animation-duration: 0.4s;
      }
      // >a {
      //   font-family: $headings;
      //   background: $accent3v1;
      //   color: $secondary;
      //   border-radius: 10px;
      //   &:hover {
      //     background: $text;
      //     color: $secondary;
      //   }
      // }
    }
  }
}

@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    40%, 43%, 70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: scale(1,0.9);
        transform: scale(1,0.9);
    }
    70% {
        -webkit-transform: translate3d(5px, -5px, 0);
        transform: translate3d(5px, -5px, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, -5px, 0);
        transform: translate3d(5px, -5px, 0);
    }
}

@keyframes bounce {
    0%, 20%, 53%, 80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    40%, 43%, 70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: scale(1,0.9);
        transform: scale(1,0.9);
    }
    70% {
        -webkit-transform: translate3d(5px, -5px, 0);
        transform: translate3d(5px, -5px, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, -5px, 0);
        transform: translate3d(5px, -5px, 0);
    }
}

@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, -2000px, 0);
        transform: translate3d(2000px, -2000px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, -2000px, 0);
        transform: translate3d(2000px, -2000px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

* {
  box-sizing: border-box;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      HEADER / BANNER
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
// .header-img {
//   background-image: url("../imgs/ori-and-the-blind-forest.jpg");
//   background-size: cover;
//   background-attachment: fixed;
//   background-position: 50%;
//   position: relative;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: -999;
// }

.parallax-container {
  height: 100vh;
  .header-menu {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    padding-bottom: 100px;
    text-align: center;
    a { 
    	display: inline-block;
    	img {
      display: block;
      margin: 10px auto;
      -webkit-animation-duration: 0.3s;
      -moz-animation-duration: 0.3s;
      animation-duration: 0.3s;
    	}
    }
  }
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      NAVIGATION
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.nav-wrapper {
  background: $nav;
  z-index: 999;
  &.pinned {
    width: 100%;
    height: 64px;
  }
  .container {
    margin: 0 auto;
  }
  .flex-nav {
    display: flex;
    flex-direction: row;
    a.btn {
      padding: 0 20px;
      flex-grow: 1;
      margin: 14px 3px;
      &:hover {
        color: $secondary;
      }
    }
  }
  // form {
  //   input[type="search"] {
  //     height: 36px !important; /* or height of nav */
  //     position: relative;
  //     top: 14px;
  //     border-radius: 2px;
  //     padding-left: 40px;
  //     &:focus + label {
  //       color: $primary !important;
  //     }
  //   }
  // }
}

.btn {
  background: $secondary;
  color: $text;
  font-family: $headings;
  font-size: 1.3em;
  border-radius: 0;
  &:hover {
    //background: darken($nav, 8%);
    background: $accent2;
    box-shadow: 3px 3px 0 0 rgba(0,255,255,1),-3px -3px 0 0 rgba(0,0,0,1);
    border-radius: 0;
  }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      PAGINATION
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.pagination {
  background: $nav;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  border-top: 3px solid $secondary;
  position: fixed;
  bottom: -40px;
  z-index: 99;
  @include trans($easyease);
  >li {
    height: 20px;
    &.active {
      background: $secondary;
      >a {
        color: $text;
      }
    }
    >a {
      color: $text;
      font-size: 1em;
      padding: 0 8px;
      line-height: 20px;
    }
  }
}

.stickyPagination {
  bottom: 0;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      SIDEBAR
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
form {
  input[type="search"] {
    height: 36px !important; /* or height of nav */
    position: relative;
    top: 20px;
    &:focus + label {
      color: $text !important;
    }
  }
  .input-field {
    margin-top: 0;
    input[type="search"] {
      padding-left: 1rem;
      width: calc(100% - 1rem);
      margin-bottom: 2.5rem;
      background: $secondary;
      border: 0;
    }
    label {
      top: 27px;
      color: $text;
    }
  }
  .fa {
    padding-right: 10px;
  }
}

.card {
  //box-shadow: 2px -2px 0 0 rgba(25,255,253,1),-2px 2px 0 0 rgba(217,12,19,1);
  border-radius: 0;
  margin: 30px 0;
  .card-content {
    background: url('../imgs/diamond_top_bg.png');
    color: $text;
    padding: 2px 2px 8px 2px;
    border-radius: 0;
    h6 {
      font-size: 1.5em;
    }
  }
  .note {
    background: #333;
    border: 3px solid $text;
    padding: 10px !important;
  }
  .card-action {
    background: url('../imgs/circle_bg.png');
    color: $text;
    border-top: 0px solid transparent;
    padding-top: 30px;
    padding-bottom: 60px;
    .sidebar-top-rip {
      width: 100%;
      position: absolute;
      left: 0;
      top: -11px;
      @include desktop {
        top: -7px;
      }
    }
    .sidebar-bottom-img {
      background: url('../imgs/diamond_bottom_bg_v2.png');
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 28px 0;
    }
  }
}

.collapsible {
  .collapsible-header {
    background: $secondary;
    color: $text;
    border-bottom: 2px solid $primary;
    h6 {
      display: inline-block;
      font-size: 1.3em;
    }
  }
  .collapsible-body {
    border-bottom: 0;
    p {
      background: url('../imgs/circle_bg.png');
      color: $text;
      padding: 20px;
    }
  }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      MAIN CONTENT
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.container {
  @media only screen and (min-width: 993px) {
    width: 95%;
  }
  @media only screen and (min-width: 601px) {
    width: 90%;
  }
}

.btn-floating {
  background: $primary;
  margin-right: 10px;
  &:hover {
    background: lighten($primary, 8%);
    color: #fff;
  }
}

.content-wrapper {
    background: $secondary;
    color: $secondary;
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 0 auto 40px auto;
    border-radius: 0;
  .content-meta {
    background: $secondary;
    width: 100%;
    //max-width: 580px;
    text-align: left;
    margin: 0 auto;
    //border-bottom: 1px solid $secondary;
    padding: 35px 0 7px 30px;
    .fa {
      font-size: 1.3em;
      position: relative;
      background: $primary;
      color: $text;
      right: -10px;
      border: 3px solid $text;
      padding: 10px;
      text-shadow: -1px 2px 0 $secondary;
      z-index: 1;
    }
    .meta-text {
      font-family: $headings;
      font-size: 1.2em;
      display: inline-block;
      position: relative;
      background: $secondary;
      color: $text;
      top: 6px;
      border: 3px solid $text;
      margin: 0px 10px 0 -2px;
      padding: 3px 10px 3px 15px;
      @include trans($easyease);
      &:hover {
        -webkit-box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
        -moz-box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
        box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
        background: $accent2;
        color: $secondary;
      }
    }
  }
  .content-bg {
    background: url('../imgs/extra_clean_paper.png');
    .rip {
      width: 100%;
      position: absolute;
      left: 0;
    }
  }
  .content-bg-ask {
    background: #bb0707;
  }
}

.content-post {
  width: 100%;
  max-width: 580px;
  margin: 85px auto 0 auto;
  padding: 20px;
  @include desktop {
    padding: 13px;
  }
  .post-title {
    font-family: $headings;
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  .photoset {
    margin-bottom: 15px;
  }
  .chat-post {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bdbdbd;
  }
  .quote-post {
    font-size: 1.5em;
    text-align: center;
    margin-top: 15px;
  }
  .ask-avvie {
    position: relative;
    border-radius: 50%;
    margin-left: 6px !important;
    z-index: 2;
    @include desktop {
      margin-left: 20px !important;
    }
  }
  .chat-icon {
    position: absolute;
    left: 25px;
    @include desktop {
      left: 10px;
    }
    @include tablet {
      left: 32px;
    }
  }
  .ask-content {
    background: $secondary;
    color: $text;
    max-width: 450px;
    float: right;
    border: 5px solid $text;
    padding: 15px;
    span {
      font-family: $headings;
      font-size: 1.1em;
    }
    .chat-question-mark {
      position: relative;
      max-height: 50px;
      float: right;
      top: -48px;
    }
  }
  .ask-answer {
    background: $text;
    color: $secondary;
    border: 5px solid $secondary;
    padding: 15px;
    margin-top: 20px;
  }
  .chat-reply {
    position: relative;
    float: right;
    right: -31px;
    top: -60px;
    @include desktop {
      right: -24px;
      top: -45px;
      max-width: 30px;
    }
  }
  blockquote {
    margin-bottom: 0;
    border-left: 3px solid $link;
  }
}

.content-like-reblog {
  position: absolute;
  right: -60px;
  top: 15px;
  .btn-reblog, .btn-like {
    display: block;
    margin-bottom: 10px;
  }
  .btn-like {
    background: rgba(0,0,0,0.7);
    color: $accent1;
  }
  .btn-reblog {
    background: rgba(0,0,0,0.7);
    color: $accent4;
  }
}

.material-tooltip {
  font-family: $headings;
  text-transform: uppercase;
}

.backdrop {
  background: rgba(0,0,0,0.7);
}

.content-tags {
  width: 100%;
  max-width: 650px;
  //margin: 0 auto 60px auto;
  margin: 70px auto 0 auto;
  background: $secondary;
  //background: transparentize($primary,.75);
  color: $text;
  padding: 5px 30px 30px 30px;
  position: relative;
  // &::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   border-bottom: 8px solid transparentize($primary,.75);
  //   border-right: 12px solid transparent;
  //   border-left: 12px solid transparent;
  //   top: -8px;
  //   left: 60px;
  // }
  .source-via {
    font-family: $headings;
    color: $text;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    .fa {
      color: #9e9e9e;
    }
    >a {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
  }
  .tag {
    @include trans($easyease);
    display: inline-block;
    background: $primary;
    color: $text;
    font-size: 0.8em;
    padding: 3px 7px;
    margin: 5px 3px;
    //position: relative;
    &:hover {
      -webkit-box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
      -moz-box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
      box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
      background: $accent2;
      color: $secondary;
      // -webkit-transform: translateY(-2px);
      // -moz-transform: translateY(-2px);
      // -ms-transform: translateY(-2px);
      // -o-transform: translateY(-2px);
      // transform: translateY(-2px);
    }
    // &::after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   width: 0; 
    //   height: 0; 
    //   border-top: 12px solid transparent;
    //   border-bottom: 12px solid transparent;
    //   border-left: 12px solid #fff;
    //   top: 0;
    //   right: -12px;
    // }
    // &::before {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   width: 8px;
    //   height: 8px;
    //   border-radius: 50%;
    //   background: transparentize($primary,.75);
    //   top: 8px;
    //   left: 6px;
    // }
  }
}