/* Color Scheme: https://coolors.co/f1f7ed-f4a33b-e24e1b-453c3b-d8be86 */

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      VARIABLES & MIXINS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
// $white: #F1F7ED;
// $lightorange: #F4A33B;
// $darkorange: #E24E1B;
// $darkbrown: #453C3B;
// $lightbrown: #D8BE86;

$headings: 'Londrina Solid', cursive;
$body: 'Heebo', sans-serif;

$mobile-width: 460px;
$tabmini-width: 680px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tabmini {
  @media screen and (max-width: #{$tabmini-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      THEME
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
// $primary: $lightorange;
// $secondary: $lightbrown;
// $text: $darkbrown;
// $link: $darkorange;
// $nav: $darkbrown;

$primary: #ff0000;
$secondary: #000;
$text: #fff;
$link: #ff0000;
$nav: #ff0000;
$accent1: #00FFFF; // bright blue
$accent2: #ebffdf; // light yellow-green
$accent3: #084b06; // dark green
$accent3v1: #6cff0d; // bright green
$accent4: #fe6cec; // fuschia

@mixin trans($ease) {
  transition:         $ease;
  -webkit-transition: $ease;
  -moz-transition:    $ease;
}

$easyease: all 0.3s ease;

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      GLOBAL CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Heebo);

body {
  font-family: $body;
  font-size: 0.9em;
  color: $text;
  background: url('../imgs/star_bg.jpg') repeat fixed;
  overflow-x: hidden;
  //background-color: #770a10;
}

h1, h2, h3, h4, h5, h6, .collapsible-header {
  font-family: $headings;
}

.container {
  margin-top: 30px;
  @include tabmini {
    margin: -60px auto 0 auto;
  }
}

a {
  color: $link;
  @include trans($easyease);
  &:hover {
    color: $secondary;
  }
}

* {
  box-sizing: border-box;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      MODALS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.modal {
  width: 100%;
  max-width: 850px;
  z-index: 999999 !important;
  background: transparent;
  border-radius: 10px;
  box-shadow: none;
  max-height: 100%;
  overflow-y: visible;
  animation-duration: 0.2s;
  // get rid of material design animation
  top: 10% !important;
  .modal-header {
    position: relative;
    width: 100%;
    height: 100px;
    background: transparent;
    .dagger { // NOT DAGGER FROM FF9, GEEZ
      position: absolute;
      width: 240px;
      top: -105px;
      right: 45px;
      z-index: 1;
      animation-duration: 0.25s;
    }
    .cover-up {
      position: absolute;
      width: 0;
      height: 34px;
      border-top: 20px solid transparent;
      border-left: 50px solid #fff;
      right: 30%;
      top: 109%;
      z-index: 999;
    }
    .modal-negotation {
      position: relative;
      left: -10px;
      width: 400px;
      transform: rotate(5deg);
    }
    .modal-stats {
      position: relative;
      width: 230px;
      transform: rotate(5deg);
    }
    .modal-palaces {
      position: relative;
      width: 310px;
      transform: rotate(5deg);
    }
    .modal-system {
      position: relative;
      top: -20px;
      width: 300px;
      transform: rotate(5deg);
    }
    >h4 {
      position: absolute;
      bottom: -50px;
      width: 60%;
      color: #333434;
      font-size: 2.5vmin;
      text-align: center;
      left: 20%;
      background-image: url('../imgs/modal_header_white.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      padding: .9em 0 .5em 0;
      right: 0;
      margin: 0;
    }
  }
  .modal-content {
    //overflow: hidden;
    .modal-text{
      position: relative;
      padding: 8% 0 10% 0;
         &::before {
          content: "";
          position: absolute;
          width: 103%;
          height: 115%;
          top: -123px;
          left: -23px;
          background-image: url('../imgs/modal_top.svg');
          background-repeat: no-repeat;
          background-size: cover;
          z-index: -1;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 10px;
          transform: rotate(-2deg);
          left: 19px;
          background-image: url('../imgs/modal_bottom.svg');
          background-repeat: no-repeat;
          background-size: cover;
          z-index: -1;
        }
      .modal-text-content {
        color: $text;
        position: relative;
        min-height: 150px;
        max-height: 340px;
        width: 80%;
        left: -1px;
        margin: 0 auto;
        padding: 0 20px;
        overflow-y: auto;
        >p>a {
          color: $primary;
          &:hover {
            color: $text;
          }
        }
        .egg {
          text-indent: 10px;
          margin: 0;
          .bacon {
            text-indent: 10px;
            margin: 0;
          }
        }
        .disclaimer {
          background: rgba(0,0,0,0.7);
          font-size: 0.9em;
          padding: 5px;
          border: 2px solid $primary;
        }
        &::-webkit-scrollbar {
          background: $secondary;
          width: 5px;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: $primary;
          width: 3px;
          border-radius: 10px;
        }
      }
    }
    .modal-footer {
      background: transparent;
      position: relative;
      width: 100%;
      top: -100px;
      .close-button {
        position: absolute;
        width: 100%;
        max-width: 150px;
        right: -100px;
        bottom: 0;
        animation-duration: 0.4s;
      }
    }
  }
}

@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    40%, 43%, 70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: scale(1,0.9);
        transform: scale(1,0.9);
    }
    70% {
        -webkit-transform: translate3d(5px, -5px, 0);
        transform: translate3d(5px, -5px, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, -5px, 0);
        transform: translate3d(5px, -5px, 0);
    }
}

@keyframes bounce {
    0%, 20%, 53%, 80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    40%, 43%, 70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: scale(1,0.9);
        transform: scale(1,0.9);
    }
    70% {
        -webkit-transform: translate3d(5px, -5px, 0);
        transform: translate3d(5px, -5px, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, -5px, 0);
        transform: translate3d(5px, -5px, 0);
    }
}

@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, -2000px, 0);
        transform: translate3d(2000px, -2000px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, -2000px, 0);
        transform: translate3d(2000px, -2000px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      HEADER / BANNER
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.parallax-container {
  height: 100vh;
  @include tabmini {
    padding-top: 40px;
    height: auto;
    .parallax {
      position: relative;
      img {
        position: relative;
        transform: none !important;
        width: 100% !important;
        left: 0;
      }
    }
  }
  .header-menu {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    padding-bottom: 100px;
    text-align: center;
    @include tablet {
      padding: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    a { 
    	display: inline-block;
    	img {
        display: block;
        margin: 10px auto;
        -webkit-animation-duration: 0.3s;
        -moz-animation-duration: 0.3s;
        animation-duration: 0.3s;
    	}
      @include tablet {
        transform: scale(.7);
        margin: -10px auto;
      }
      @include tabmini {
        display: none;
      }
    }
  }
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      NAVIGATION
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
nav {
  @include tabmini {
    background: transparent;
  }
}
.nav-wrapper {
  background: darken($nav,12%) url('../imgs/nav_bg-10.png') repeat-x;
  z-index: 999;
  .menu-toggle {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 7px;
    right: 5px;
    z-index: 9999;
    cursor: pointer;
    display: none;
    @include tabmini {
      display: block;
    }
    span {
      width: 100%;
      border-radius: 20px;
      display: block;
      height: 6px;
      background: #fff;
      margin: 2px 0;
      border: 2px solid black;
      position: relative;
      transition: all .3s ease;
      top: 0;
      left: 0;
      opacity: 1;
    }
    &.active {
      span:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
      }
      span:nth-child(2) {
        left: -8px;
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg);
        top: -6px;
      }
    }
  }
  @include tabmini {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px !important;
    background-size: 150px;
  }
  &.pinned {
    width: 100%;
    height: 64px;
  }
  .container {
    margin: 0 auto;
  }
  .flex-nav {
    display: flex;
    flex-direction: row;
    a.btn {
      padding: 0 20px;
      flex-grow: 1;
      margin: 14px 3px;
      &:hover {
        color: $secondary;
      }
    }
  }
}

// .btn {
//   background: $secondary;
//   color: $text;
//   font-family: $headings;
//   font-size: 1.3em;
//   border-radius: 0;
//   &:hover {
//     //background: darken($nav, 8%);
//     background: $accent2;
//     box-shadow: 3px 3px 0 0 rgba(0,255,255,1),-3px -3px 0 0 rgba(0,0,0,1);
//     border-radius: 0;
//   }
// }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      PAGINATION
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
// .pagination {
//   background: $nav;
//   text-align: center;
//   width: 100%;
//   padding: 5px 0;
//   margin: 0;
//   border-top: 3px solid $secondary;
//   position: fixed;
//   bottom: -40px;
//   z-index: 99;
//   @include trans($easyease);
//   >li {
//     height: 20px;
//     &.active {
//       background: $secondary;
//       >a {
//         color: $text;
//       }
//     }
//     >a {
//       color: $text;
//       font-size: 1em;
//       padding: 0 8px;
//       line-height: 20px;
//     }
//   }
// }

.pagination {
  display: flex;
  justify-content: space-between;
  @include tablet {
    display: block;
    padding: 50px;
    position: relative;
  }
  @include mobile {
    padding: 60px;
  }
  img {
    width: 130px;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
    @include tablet {
      width: 70px;
      height: auto;
      position: absolute;
      top: 20px;
      &:first-child {
        left: 20px;
      }
      &:last-child {
        right: 20px;
      }
    }
  }
}

.stickyPagination {
  bottom: 0;
}

.back2Top {
  display: none;
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 100px;
  cursor: pointer;
  @include tablet {
    left: 0; 
    right: -10px;
    margin: 0 auto;
  }
  @include mobile {
    right: -10px;
    width: 70px;
  }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      SIDEBAR
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
form {
  max-width: 400px;
  margin: 0 auto;
  input[type="search"] {
    height: 36px !important; /* or height of nav */
    position: relative;
    top: 20px;
    &:focus + label {
      color: $text !important;
    }
  }
  .input-field {
    margin-top: 0;
    input[type="search"] {
      padding-left: 1rem;
      width: calc(100% - 1rem);
      margin-bottom: 2.5rem;
      background: $secondary;
      border: 0;
    }
    label {
      top: 27px;
      color: $text;
    }
  }
  .fa {
    padding-right: 10px;
  }
}

.card {
  //box-shadow: 2px -2px 0 0 rgba(25,255,253,1),-2px 2px 0 0 rgba(217,12,19,1);
  border-radius: 0;
  margin: 30px auto;
  max-width: 400px;
  .card-content {
    background: url('../imgs/diamond_top_bg.png');
    color: $text;
    padding: 2px 2px 8px 2px;
    border-radius: 0;
    h5 {
      white-space: nowrap;
      font-size: 1.55em;
      @include tabmini {
        font-size: 1.45em;
      }
    }
    h6 {
      font-size: 1.5em;
    }
  }
  .note {
    background: #333;
    border: 3px solid $text;
    padding: 10px !important;
  }
  .card-action {
    background: url('../imgs/circle_bg.png');
    color: $text;
    border-top: 0px solid transparent;
    padding-top: 30px;
    padding-bottom: 60px;
    .sidebar-top-rip {
      width: 100%;
      position: absolute;
      left: 0;
      top: -11px;
      @include desktop {
        top: -7px;
      }
    }
    .sidebar-bottom-img {
      background: url('../imgs/diamond_bottom_bg_v2.png');
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 28px 0;
    }
  }
}
.accordion-statuses {
  max-width: 400px;
  margin: 0 auto 30px auto;
}
.collapsible {
  .collapsible-header {
    background: $secondary;
    color: $text;
    border-bottom: 2px solid $primary;
    h6 {
      display: inline-block;
      font-size: 1.3em;
    }
  }
  .collapsible-body {
    border-bottom: 0;
    p {
      background: url('../imgs/circle_bg.png');
      color: $text;
      padding: 20px;
    }
  }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      MAIN CONTENT
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.container {
  @media only screen and (min-width: 993px) {
    width: 95%;
  }
  @media only screen and (min-width: 601px) {
    width: 90%;
  }
}

.btn-floating {
  background: $primary;
  margin-right: 10px;
  &:hover {
    background: lighten($primary, 8%);
    color: #fff;
  }
}

.content-wrapper {
    background: $secondary;
    color: $secondary;
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 0 auto 40px auto;
    border-radius: 0;
    @include desktop {
      max-width: 565px;
    }
    @include tablet {
      margin: 0 auto;
    }
  .content-meta {
    background: $secondary;
    width: 100%;
    //max-width: 580px;
    text-align: left;
    margin: 0 auto;
    //border-bottom: 1px solid $secondary;
    padding: 35px 0 7px 30px;
    @include tabmini {
      padding: 10px 0 10px 10px;
    }
    .meta-wrap {
      display: inline-block;
      position: relative;
      @include tabmini {
        margin: 5px auto;
      }
    }
    .fa {
      font-size: 1.3em;
      position: relative;
      background: $primary;
      color: $text;
      right: -10px;
      border: 3px solid $text;
      padding: 10px;
      text-shadow: -1px 2px 0 $secondary;
      z-index: 1;
    }
    .meta-text {
      font-family: $headings;
      font-size: 1.2em;
      display: inline-block;
      position: relative;
      background: $secondary;
      color: $text;
      top: 6px;
      border: 3px solid $text;
      margin: 0px 10px 0 -2px;
      padding: 3px 10px 3px 15px;
      @include trans($easyease);
      &:hover {
        -webkit-box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
        -moz-box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
        box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
        background: $accent2;
        color: $secondary;
      }
    }
  }
  .content-bg {
    background: url('../imgs/extra_clean_paper.png');
    .rip {
      width: 100%;
      position: absolute;
      left: 0;
    }
  }
  .content-bg-ask {
    background: #bb0707;
  }
}

.content-post {
  width: 100%;
  padding: 100px 20px;
  position: relative;
  @include desktop {
    padding: 100px 10px;
  }
  &::before {  
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('../imgs/top_rip_v2.png');
    background-repeat:  no-repeat;
    background-size: 100%;
  }
  &::after {  
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('../imgs/bottom_rip_v2.png');
    background-repeat:  no-repeat;
    background-position: bottom;
    background-size: 100%;
  }
  .content-post-inner {
    max-width: 540px;
    margin: 0 auto;
    @include tabmini {
      img {
        display: block;
        width: 100%;
        margin: 5px 0;
      }
    }
  }
  .post-title {
    font-family: $headings;
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  .photoset {
    margin: 0 auto;

  }
  .chat-post {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #bdbdbd;
  }
  .quote-post {
    font-size: 1.5em;
    text-align: center;
    margin-top: 15px;
  }

  .ask-post {
    position: relative;
    .ask-question {
        margin-bottom: 20px;
        overflow: auto;
    }
    .ask-avvie {
      position: absolute;
      right: calc(100% - 110px);
      z-index: 2;
      display: inline-block;
      background-image: url('../imgs/chat_icon.png');
      width: 130px;
      height: 90px;
      background-repeat: no-repeat;
      background-size: contain;
      @include tablet {
        width: 103px;
        height: 80px;
        right: calc(100% - 103px);
      }
      @include mobile {
        top: -38px;
        right: calc(100% - 80px);
        background-image: none;
      }
      img {
        border-radius: 50%;
        position: relative;
        left: 33px;
        @include tablet {
          width: 48px;
          bottom: -5px;
        }
      }
    }
    .chat-question-mark {
      position: absolute;
      max-height: 50px;
      width: auto;
      top: -30px;
      right: 20px;

    }
  }
  .ask-content {
    background: $secondary;
    color: $text;
    max-width: 443px;
    float: right;
    border: 5px solid $text;
    padding: 15px;
    @include tablet {
      max-width: calc(100% - 97px);
    }
    @include mobile {
      max-width: 100%;
    }
    span {
      font-family: $headings;
      font-size: 1.1em;
    }
    
  }
  .ask-answer {
    clear: both;
    background: $text;
    color: $secondary;
    border: 5px solid $secondary;
    padding: 15px;
    margin-top: 20px;
    width: calc(100% - 20px);
    .chat-reply {
      position: relative;
      float: right;
      right: -51px;
      top: -60px;
      width: 37px;
      @include tablet {
        width: 30px;
        right: -44px;
      }
    }

  }

  blockquote {
    margin-bottom: 0;
    border-left: 3px solid $link;
  }
}

.content-like-reblog {
  position: absolute;
  right: -60px;
  top: 15px;
  @include desktop {
    right: 10px;
    top: 5px;
  }
  .btn-reblog, .btn-like {
    display: block;
    margin-bottom: 10px;
    @include desktop {
      margin-bottom: 5px;
    }
  }
  .btn-like {
    background: rgba(0,0,0,0.7);
    color: $accent1;
  }
  .btn-reblog {
    background: rgba(0,0,0,0.7);
    color: $accent4;
  }
}

.material-tooltip {
  font-family: $headings;
  text-transform: uppercase;
}

.backdrop {
  background: rgba(0,0,0,0.7);
}

.content-tags {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  background: $secondary;
  color: $text;
  padding: 5px 30px 30px 30px;
  position: relative;
  .source-via {
    font-family: $headings;
    color: $text;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    .fa {
      color: #9e9e9e;
    }
    >a {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
  }
  .tag {
    @include trans($easyease);
    display: inline-block;
    background: $primary;
    color: $text;
    font-size: 0.8em;
    padding: 3px 7px;
    margin: 5px 3px;
    //position: relative;
    &:hover {
      -webkit-box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
      -moz-box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
      box-shadow: -2px 3px 0px $accent1, 2px -2px 0px $primary;
      background: $accent2;
      color: $secondary;
    }
  }
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      FANCY NAV
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.navbar {
  text-align: center;
  margin-top: 18px;
  @include desktop {
    margin-top: 14px;
  }
  @include tabmini {
    position: fixed;
    width: 100%;
    background: #c20000;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    top: -100%;
    transition: all .3s ease;
    &.active {
      top: 0;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 20px;
      top: 0;
      left: 0;
      background: url("../imgs/nav_bg-10.png") repeat-x;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 0;
      left: 0;
      transform: rotate(-180deg);
      background: url("../imgs/nav_bg-10.png") repeat-x;
    }
  }
}
.link-wrapper {
  position: relative;
  display: inline-block;
  margin: 0px 14px;
  @include desktop {
    margin: 0 -2px;
    transform: scale(.8);
  }
  @include tablet {
    margin: 0 - 10px;
    transform: scale(.65);
  }
  @include tabmini {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }
  .fallback {
    font-size: 2.25em;
    letter-spacing: 4px;
    line-height: 0;
    opacity: 0;
    position: relative;
    top: 15px;
    left: 0;
  }
  .shape-wrapper { 
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &:hover {
    z-index: 9999;
    .shape-wrapper { 
      transform: rotate(-6deg);
      display: block; 
      .shape.cyan-fill {
        transform: scale(3,.1);
      }
    }
    .img-wrapper {
      img {
       animation: tiltBounce .15s ease;
       animation-fill-mode: forwards;
       display: block;
        &.normal {
           mix-blend-mode: darken;
        }
      }
    }
  }
  &:nth-child(even) {
    &:hover {
      .shape-wrapper { transform: rotate(11deg) }
      .img-wrapper img {
         animation: tiltBounceAlt .15s ease;
         animation-fill-mode: forwards;
      }
    }
  }
}

.img-wrapper {
  img {
    width: auto;
    height: 40px;
    display: block;
    left: 0;
    right: 0;
    top: -5px;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    &.normal {
      display: block;
    }
    &.active {
      display: none;
      z-index: -1;
    }
  }
}
.shape-wrapper {
  filter: sepia(50%) saturate(3);
  .shape {
    transition: all .1s linear;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    overflow: hidden;
    svg {
      position: absolute;
      left: 0;
      top: 0;
    }
    &.cyan-fill {
      mix-blend-mode: screen;
      animation-delay: 0.05s;
      animation-duration: .4s;
    }
    &.red-fill {
      animation-duration: .45s;
      animation-delay: 0.08s;
      opacity: .8;
    }
  }
}

.jelly {
  -webkit-animation-name: jelly;
          animation-name: jelly;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@keyframes tiltBounce {
  0% {
    transform: scale(1) rotate(-7deg);
  }
  50% {
    transform: scale(1.5) rotate(-7deg);
  }
  100% {
    transform: scale(1.15) rotate(-7deg);
  }
}
@keyframes tiltBounceAlt {
  0% {
    transform: scale(1) rotate(7deg);
  }
  50% {
    transform: scale(1.5) rotate(7deg);
  }
  100% {
    transform: scale(1.15) rotate(7deg);
  }
}
@keyframes jelly {
  0% {
    width: 100%; transform: scale(1.25,1) skewX(20deg) translateY(3px) rotateX(40deg) rotateY(10deg) rotateZ(-10deg);
  }
  50% { width: 100%; transform: scale(1.25,1.1) skewX(-15deg) translateY(-2px) translateZ(-30px); }
  100% { width: 100%; transform: scale(1.25,1) skewX(20deg) translateY(3px) rotateX(-40deg) rotateY(-10deg) rotateZ(-15deg); }
}
