/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      VARIABLES & MIXINS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
$headings: 'Londrina Solid', cursive;
$body: 'Heebo', sans-serif;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      THEME
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
$primary: #6cff0d; // bright green
$secondary: #fff;
$text: #000;
$link: #6cff0d;
$nav: #000;
$accent1: #084b06; // dark green

@mixin trans($ease) {
  transition:         $ease;
  -webkit-transition: $ease;
  -moz-transition:    $ease;
}

$easyease: all 0.3s ease;

* {
  box-sizing: border-box;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      GLOBAL CSS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Heebo);

body {
  font-family: $body;
  font-size: 0.9em;
  color: $text;
  background: $accent1 url('../imgs/chain_link_fence.png') repeat fixed;
}

h1, h2, h3, h4, h5, h6, .collapsible-header {
  font-family: $headings;
}

.container {
  width: 90%;
}

.row {
  margin-bottom: 0;
}
.text-right {
  text-align: right;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      DOG TAG "TABS"
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.tags {
  background: transparent;
  display: inline-block;
  width: 200px !important;
  margin-top: 50%;
  float: none;
  margin-right: 50px;
  overflow: visible;
  .tag {
    background: $primary;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30px;
    overflow: visible;
    font-family: $headings;
    font-size: 1.4em;
    color: $text;
    padding: 20px 10px;
    @include trans($easyease);
    &.active, &:hover {
      background: $secondary;
      color: $text;
    }
    &.inactive {
      background: $accent1;
    }
  }
  .animanga {
    //position: relative;
    //transform:rotate(3deg);
  }
  .games {
    position: relative;
    right: 30px;
    top: -10px;
    transform:rotate(7deg);
  }
  .movies {
    position: relative;
    right: 70px;
    top: -15px;
    transform:rotate(16deg);
  }
  .misc {
    position: relative;
    right: 125px;
    top: -20px;
    transform:rotate(28deg);
  }
  .random {
    position: relative;
    right: 200px;
    top: -25px;
    transform:rotate(45deg);
  }
  .active {
    background: $secondary;
    position: relative;
    border-radius: 30px;
    box-shadow: 3px 4px 0 $text;
  }
  .indicator {
    height: 0px;
  }
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
      ACTUAL TAGS DISPLAY
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.tags-content {
  .tag-content {
    font-size: 1.3em;
    font-weight: 700;
    background: $primary;
    padding: 30px;
    height: 80vh;
    overflow-y: scroll;
    pointer-events: none;
    opacity: 0;
    position: relative;
    right: -50px;
    @include trans($easyease);
    &.active {
      opacity: 1;
      right: 0;
      pointer-events: auto;
    }
    a {
      display: block;
      color: $text;
      padding: 10px;
      @include trans($easyease);
      &:hover {
        background: #ddd;
      }
    }
    &::-webkit-scrollbar {
      background: $secondary;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: $text;
      width: 5px;
    }
  }
}